.wrapper {
  position: relative;
}

.mod {
  margin: 0 4px 4px 0;
}

.selected {
  outline: 2px solid #e8a534 !important;
}

.menu {
  background-color: #313233;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  top: -40px;
  left: -14.5px;

  &[data-popper-placement^='top'] .pointyBit {
    bottom: -6px;
  }

  &[data-popper-placement^='bottom'] .pointyBit {
    top: -4px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.button {
  margin: 4px;
  padding: 4px;
}

.pointyBit {
  height: 11px;
  width: 11px;

  &::before {
    content: '';
    background-color: #313233;
    height: 8px;
    width: 8px;
    transform: rotate(45deg);
    position: absolute;
  }
}
